<% include partials/header %>
<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Welcome To Kashmir Camp </h1>
    <p> view the most beautiful camp grounds all over Kashmir </p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds">View All Camp_Grounds </a>
</div>
  </header>





<h1>landing page </h1>

</div>

<% include partials/footer %>
